.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  background-color: #0062cc;
}

.heading {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

input[type="text"] {
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #007bff;
  color: #fff;
}

button:hover {
  cursor: pointer;
  background-color: #0062cc;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
